.recorder-screen {
  padding: 20px;
  align-content: center;
  justify-content: center;
  background-color: pink;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
}

body, button {
  font-family: 'Courier New', Courier, monospace;
}

.error-message {
  font-size: small;
  /* color: gray; */
  opacity: 50%;
}