.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

button, .button {
  margin: 0px 5px;
  flex: 1;
  height:min-content;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(184, 184, 184);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: medium;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button:disabled, .button:disabled {
  background-color: rgb(184, 184, 184);
  color: rgb(141, 141, 141);
  cursor: not-allowed;
}

audio {
  flex: 4;
}